body {
	background-image: url('./bg.png');
	background-attachment: fixed;
	position: relative;
	width: 100%;
	height: 100%;
}

#black {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -999;
	background: rgba(0,0,0,1);
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0);
}

#container {
	background: rgba(0,0,0,0);
	width: 1400px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin-top: -60px;
}

#header {
	background: rgba(0,0,0,0);
	width: 100%;
	height: 150px;
}

#content {
	background-image: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,0));
	width: calc(100% - 40px);
	margin-top: 40px;
	border: 1px solid rgba(255,255,255,.5);
	border-top: 2px solid rgba(255,255,255,.5);
	border-bottom: 0;
	border-radius: 20px;
	padding: 20px;
}

.logo {
	background: rgba(0,0,0,0);
	width: 150px;
	height: 150px;
	position: relative;
	top: 400px;
	margin-left: 10px;
	margin-right: 10px;
	transform: scale(5);
}

.nav {
	background-image: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,0));
	width: 180px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	border: 1px solid rgba(255,255,255,.5);
	border-top: 2px solid rgba(255,255,255,.5);
	border-bottom: 0;
	border-radius: 20px;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 20px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	opacity: .5;
	position: relative;
}

.nav:first-letter, .nav_active:first-letter {
	color: rgb(22,166,233);
}

.nav:hover {
	opacity: 1;
}

.nav_active, .nav_active:hover {
	color: white;
	opacity: 1;
	background-image: linear-gradient(rgba(22,166,233,.5), rgba(22,166,233,0));
	width: 180px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	border: 1px solid rgba(22,166,233,.75);
	border-top: 2px solid rgba(22,166,233,.75);
	border-bottom: 0;
	border-radius: 20px;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

.uneven + .uneven {
	margin-top: -30px;
}

#content > div > svg {
	display: inline-block;
	margin-left: -40px;
	margin-right: -45px;
	position: relative;
}

@keyframes btop {
  from { stroke: #18b5ff; }
  to { stroke: #fa1bb2; }
}

@keyframes ptob {
  from { stroke: #fa1bb2; }
  to { stroke: #18b5ff; }
}

#content > div > svg > polygon {
	transform: translate(10px, 0) scale(.9);
	stroke: red;
	stroke-width: 10px;
	opacity: .5;
}

#content > div > svg > polygon:hover {
	opacity: 1;
}

#content > div:nth-child(2n) > svg > polygon {
	stroke: #18b5ff;
	animation-name: btop;
	animation-duration: 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	transition-timing-function: linear;
	animation-delay: -1s;
}

#content > div:nth-child(2n+1) > svg > polygon {
	stroke: #fa1bb2;
	animation-name: ptob;
	animation-duration: 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	transition-timing-function: linear;
	animation-delay: -1s;
}

#content > div > svg:nth-child(2n) {
	top: 125px;
}

.hex {
  fill: url(#image);
}